/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber';

// after writing app.component.html
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// after writing on menu.component.html
.container{
    margin: 20px;
    display: flex;
}
